<div>  
    <div>   
        <form [formGroup]="form" id="a">  
            <table>  
                <tr>  
                    <td> <input type="text"  placeholder="Enter email" class="form-control"  formControlName="email" #searchInfo> </td> 
                    <div *ngIf="(form.controls['email'].dirty || form.controls['email'].touched) && form.hasError('required','email')" class="text-danger">
                        Please enter email
                    </div> 
                </tr>
                <tr>
                    <td> <input type="text"  placeholder="Enter mobilenum" class="form-control" formControlName="mobilenum" #searchInfo> </td> 
                    <div *ngIf="(form.controls['mobilenum'].dirty || form.controls['mobilenum'].touched) && form.hasError('required','mobilenum')" class="text-danger">
                        Please enter mobilenum
                    </div>
                </tr>  
                <tr>
                    <td>
                        <button class="btn btn-primary hidden-xs" [disabled]="form.invalid" (click)="searchForm(searchInfo.value)">SignIn</button>
                    </td>
                </tr>
            </table>  
        </form>  
    </div>  
</div>  